# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear

sdk

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
SpigotMc2VK/server/plugins/SpigotMc2VKPlugin/config.yml
SpigotMc2VK/server/plugins/SpigotMc2VK/config.yml
SpigotMc2VK/server/server.properties
SpigotMc2VK/server/world/datapacks/bukkit/pack.mcmeta
SpigotMc2VK/server/world/region/r.-1.-1.mca
SpigotMc2VK/server/world/region/r.-1.0.mca
SpigotMc2VK/server/world/region/r.0.-1.mca
SpigotMc2VK/server/world/region/r.0.0.mca
SpigotMc2VK/server/world/session.lock
SpigotMc2VK/server/world/uid.dat
SpigotMc2VK/server/world_nether/DIM-1/region/r.-1.-1.mca
SpigotMc2VK/server/world_nether/DIM-1/region/r.-1.0.mca
SpigotMc2VK/server/world_nether/DIM-1/region/r.0.-1.mca
SpigotMc2VK/server/world_nether/DIM-1/region/r.0.0.mca
SpigotMc2VK/server/world_nether/session.lock
SpigotMc2VK/server/world_nether/uid.dat
SpigotMc2VK/server/world_the_end/DIM1/region/r.-1.-1.mca
SpigotMc2VK/server/world_the_end/DIM1/region/r.-1.0.mca
SpigotMc2VK/server/world_the_end/DIM1/region/r.0.-1.mca
SpigotMc2VK/server/world_the_end/DIM1/region/r.0.0.mca
SpigotMc2VK/server/world_the_end/session.lock
SpigotMc2VK/server/world_the_end/uid.dat
SpigotMc2VK/server/plugins/AuthMe/authme.db
SpigotMc2VK/server/EssentialsX-2.17.1.0.jar
/.metadata/
